<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SEND_EMAIL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDDC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.CleanlinessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VaccinesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RTMonitorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_rt_monitor"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.PDDC.Fullscreen"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".ui.activities.Detections"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ForgotDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FowlCholera"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SchedulesActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="YOUR_ADMOB_APP_ID" />

        <activity
            android:name=".ui.activities.FarmDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WelcomePage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_welcome_page"
            android:theme="@style/Theme.PDDC.Fullscreen" />
        <activity
            android:name=".ui.activities.ChatWithAgent"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.PDDC.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.InnerNotification"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BatchesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />

        <receiver
            android:name=".ui.classes.ReminderReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pddc.cameraProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>